@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: cadetblue;
}
.anasayfa img{
	height: 250px;
	width: 250px;
	position: relative;
	left: 150px;
	padding: 20px;

	top: 20px;
}
.anasayfa img:hover{
		border: 4px solid black;
}